<h2>Adding new client to data base</h2>
<form method="POST" action="/client">
    <label>
        <p>
            E-mail:
        </p>
        <p>
            <input type="email" name="email" required>
        </p>
    </label>
    <label>
        <p>
            Name:
        </p>
        <p>
            <input type="text" name="name" required>
        </p>
    </label>
    <label>
        <p>
            Next Contact Date:
        </p>
        <p>
            <input type="date" name="nextContact">
        </p>
    </label>
    <label>
        <p>
            Notes:
        </p>
        <p>
            <textarea name="notes" cols="30" rows="5"></textarea>
        </p>
    </label>
    <p>
        <button type="submit">Save</button>
    </p>
</form>

<div>
    {{> go-to-clients}}
</div>