table{
    text-align: left;
    margin: 0 auto;
    width: 80%;
}
tr{
    margin: 2px;
    background: #c9c1c1;
}

thead tr, .header-of-left th{
    background-color: #9a5656;
}
tr:nth-child(2n){
    background-color: #bda2a2;
}
td, th{
    padding: 6px;

}
.error{
    background-color: #cc0000;
    border: 2px solid red;
    margin: 10px auto;
    width: 80%;
}